@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,800;1,900&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Inter Tight', sans-serif;
  ;
}

header>img {
  width: 150px;
  margin: 2.5rem;
  margin-left: 6.5rem;
  margin-bottom: 1rem;
}

#containerWelcome {
  width: 80%;
  padding-left: 6.5rem;
}

h1 {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 2.8rem;
}

#spanWelcome {
  font-weight: 700;
}

#contenutoWelcome {
  font-size: 0.8rem;
  font-weight: 300;
}

#containerWelcome h2 {
  color: #D20094;
  margin-bottom: 0rem;
}

#containerWelcome p {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  width: 60%;
}

#contenutoWelcome ul {
  padding-left: 0.9rem;
}

#footerWelcome input, #footerWelcome h6, #footerWelcome button {
  display: inline-block;
}

#footerWelcome input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: white solid 2px;
  width: 10px;
  height: 10px;
  margin-bottom: 0px;
  position: relative;
  accent-color: white;
}

#footerWelcome input[type=checkbox]:checked::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%2300ff00' d='M5.5 11.6l-3.7-3.7c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l2.3 2.3 6.3-6.3c.4-.4 1-.4 1.4 0s.4 1 0 1.4L6.9 11.6c-.4.4-1 .4-1.4 0z'/%3E%3C/svg%3E");
  background-size: contain;
  position: absolute;
  bottom: -2px;
  left: -1px;
}